In [4]:
# define whether python module is imported or  directly run from script above




# if __name__ == "__main__":
#     just_print()

import module


    just_print()

In [12]:
import pandas as pd

In [15]:
def create_funnel(conn):
    user_t = pd.read_sql("select * from user", conn)
    consent_t = pd.read_sql("""SELECT user_id, fl_consent from user_app_consent_master 
where id in (SELECT max(id) from user_app_consent_master where consent_type = 'bureau' group by user_id)""",conn)
    otp_t = pd.read_sql("""SELECT * from otp_api_partner_config where id in (SELECT max(id) 
from otp_api_partner_config where event = 'signup' group by user_id)""",conn)
    question_t = pd.read_sql("""SELECT user_id , 
case when json_extract(questions_response, '$[0].question_response[0].options[0].field_text') is not null 
then json_unquote(json_extract(questions_response, '$[0].question_response[0].options[0].field_text')) 
else json_unquote(json_extract(questions_response, '$[0].options[0].option_text')) end as language 
from questionnaire_response where id in (SELECT max(id) from questionnaire_response group by user_id)""",conn)
    address_t = pd.read_sql("""SELECT user_id from user_address where 
id in (SELECT max(id) from user_address group by user_id)""", conn)
    bureau_t = pd.read_sql("""select * from linedetails where id in (select max(id) from linedetails 
where purpose = 'bureaucheck' group by user_id)""",conn)
    kyc_t = pd.read_sql("""select * from linedetails where id in (select max(id) from linedetails 
where purpose = 'postkyc' group by user_id)""", conn)
    sanction_t = pd.read_sql("""select * from sanction""", conn)
    merchantpay_t = pd.read_sql("""select * from merchant_payments where id in 
(select min(id) from merchant_payments where status = 'success' group by user_id""",conn)
    cc_t = pd.read_sql("""user_registeration_coupon_code_details""",conn)
    wrong_approvals = pd.read_sql("""asp_playground.wrongly_b2b_preapproved rej""",conn)

    merge_df = user_t.merge(consent_t, left_on="id",right_on="user_id",how="left" )\
                     .merge(otp_t, left_on="id",right_on="user_id",how="left" )\
                     .merge(question_t, left_on="id",right_on="user_id",how="left" )\
                     .merge(address_t, left_on="id",right_on="user_id",how="left" )\
                     .merge(bureau_t, left_on="id",right_on="user_id",how="left" )\
                     .merge(kyc_t, left_on="id",right_on="user_id",how="left" )\
                     .merge(sanction_t, left_on="id",right_on="user_id",how="left" )\
                     .merge(merchantpay_t, left_on="id",right_on="user_id",how="left" )\
                     .merge(cc_t, left_on="id",right_on="user_id",how="left" )\
                     .merge(wrong_approvals, left_on="id",right_on="user_id",how="left" )\
                    
if __name__ == "__main__":
    from sqlalchemy import create_engine
    engine = create_engine('mysql://vishnupriya:yFl#Cy3qzWW7f#OrxW4IB!P@13.126.97.63/aspiredb')

    merge_df = create_funnel(engine)
    print(merge_df.head())

ProgrammingError: (MySQLdb.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 2")
[SQL: select * from merchant_payments where id in
(select min(id) from merchant_payments where status = 'success' group by user_id]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [7]:
print(merge_df)

NameError: name 'merge_df' is not defined

DATE TIME FUNCTION

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime 
 
 
#Creating a sample DataFrame
df = pd.DataFrame({'date': ['04/03/2022', '05/03/2022', '06/03/2022'],
                   'patients': [16, 19, 11]})

In [2]:
df

         date  patients
0  04/03/2022        16
1  05/03/2022        19
2  06/03/2022        11

In [5]:
df["date_time"] = pd.to_datetime(df["date"])

In [6]:
df

         date  patients  date_time
0  04/03/2022        16 2022-04-03
1  05/03/2022        19 2022-05-03
2  06/03/2022        11 2022-06-03

In [28]:
df.dtypes

date                     object
patients                  int64
date_time        datetime64[ns]
formated_date    datetime64[ns]
dtype: object

In [7]:
## time delta
date = datetime.now()
date

datetime.datetime(2025, 1, 9, 10, 41, 32, 178785)

In [14]:
print(date+pd.to_timedelta(2, unit='m'))

2025-01-09 10:43:32.178785

In [31]:
df["formated_date"] = df["date"].dt.strftime["%Y%m"]

AttributeError: Can only use .dt accessor with datetimelike values

In [23]:
df

         date  patients  date_time formated_date
0  04/03/2022        16 2022-04-03    2022-04-03
1  05/03/2022        19 2022-05-03    2022-05-03
2  06/03/2022        11 2022-06-03    2022-06-03

In [1]:
i = 0
while i <= 5:
    print("Python")
    i = i + 2

Python
Python
Python

In [3]:
days = [30, 31, 30, 30, 31, 30, 20, 30, 31, 30, 31, 30]

for day in days:
    if day not in (30,31):
        break
    print(day)

30
31
30
30
31
30

In [7]:

n = int(input())

for num in range(1,11):
    if num != n:
        continue
    print(num)

5

In [8]:
for i in range(1, 11):
    print(i, end=" ")
    if i%2 == 0:
         continue
    print(i, end=" ")

1 1 2 3 3 4 5 5 6 7 7 8 9 9 10

In [19]:
# n = number of rows - , i = number of rows, j = number of star(s) in each row
#triangle
n = int(input())

i = 1
while i <= n:
    j = 1
    while j<=i:
        print('*',end = " ")
        j = j+1
    print()
    i = i + 1

*
* *
* * *
* * * *

In [18]:
n = 4

i = 1
while i<=n:
    j = 1
    while j<=n:
        print("*", end = "")
        j+=1
    print()
    i+=1

****
****
****
****

In [25]:
n = int(input())

a = []
for i in range(1,n+1):
    a.append(i)
print(a)

[1, 2, 3, 4, 5]

In [34]:
b= a[1:4]
print(b)

[2, 3, 4]

In [39]:
n = int(input())

i = 1
while i <= n:
    for items in range(1,n+1):
        j = 1
        while j<=i:
            print(items , end = " ")
            j = j+1
    print()
    i = i+1

1 2 3 4
1 1 2 2 3 3 4 4
1 1 1 2 2 2 3 3 3 4 4 4
1 1 1 1 2 2 2 2 3 3 3 3 4 4 4 4

In [47]:
n = int(input())

i = 1
while i <= n:
    for items in range(1,n+1):
        j = 1
        if i<=i:
            print(items , end = " ")
            continue
            j = j+1
    print()
    i = i+1

1 2 3
1 2 3
1 2 3

In [49]:
n = int(input())

i = 1
while i <= n:
        j = 1
        while j<=i:
            print(j , end = " ")
            j = j+1
        print()
        i = i+1

1
1 2
1 2 3

In [43]:
times = 5  # Number of times to run the loop
for i in range(times):
    print("This is iteration", i + 1)

This is iteration 1
This is iteration 2
This is iteration 3
This is iteration 4
This is iteration 5

In [50]:
n = int(input())

i = 1
while i <= n:
    j = 1
    while j<=i:
        print(j, end=" ")
        j = j+1
    print()
    i+=1

1
1 2
1 2 3

In [ ]:
def compute_value(a, b):
    f = a**2 + (2*a*b) + b**2
    s = a+b
    return f,s
    # update your code below this line
    

t = 3
for  i in range(t):
    A, B = map(int, input().split())
    compute_value(A, B)

In [51]:
def compute_value(a, b):
    f = a**2 + (2*a*b) + b**2
    s = a+b

In [53]:
compute_value(2,3)

(25, 5)

In [62]:
def compute_value(a, b):
    f = a**2 + (2*a*b) + b**2
    s = a+b
    print(f)
    print(s)
    # update your code below this line
    
t = 4
for i in range(t):
    A, B = map(int, input().split())
    compute_value(A, B)

16
4
49
7
4
2

ValueError: not enough values to unpack (expected 2, got 0)

In [64]:
def greet(name):
    print(f"hey {name}")

NAME = "vish"
greet(NAME)

hey vish

In [68]:
def squarer(num):
    a = num*num
    return a 

def cal(num):
    sq = squarer(num)
    return sq

a = squarer(3)
print(a)

9

In [74]:
def greet(name):
    return f"helo {name}"

def cap(name):
    return name.upper()

def both(name):
    a = cap(name)
    b = greet(a)
    return b 

both("buy")

'helo BUY'

In [79]:
def out_ner(a):
    def in_ter(b):
        return a*b
    result = in_ter(b)
    return result

out_ner(5)

[2, 3, 4, 2, 3, 4, 2, 3, 4, 2, 3, 4, 2, 3, 4]

In [87]:
n = int(input()) 
#n = 3

def sq(aa):
    return aa*aa 

def double(bb):
    c = sq(bb)

    return c/2
double(8)

32.0

In [91]:
my_dict = {"name": "Alice", "age": 30, "location": "New York"}
for key in my_dict.items():
    print("Key:", key)

Key: ('name', 'Alice')
Key: ('age', 30)
Key: ('location', 'New York')

In [96]:
# Update the code below

A = [1, 2, 3, 1, 2, 4, 1, 3, 5]
A_freq = {}

for i in range(1,len(A)):
    print(i)
for j in range(1,)

1
2
3
4
5
6
7
8

In [2]:
A = [1, 2, 3, 1, 2, 4, 1, 3, 5]

#output
# b = {1:3,2:2,3:2,4:1,5:1}

b  = {}

In [9]:
for i in A:
    print(A.count(str(i)))

0
0
0
0
0
0
0
0
0

In [12]:
print(count(str(i)) for i in A)

<generator object <genexpr> at 0x000002A704103AE0>

In [ ]:
#we have a df- sanction, it has column prod_group. i need to get all the data where the prod group is "1m_od","redB_1m"

new_book = sanction[sanction["prod_group"].isn(["1m_od","redB_1m"])]

In [ ]:
#we have two df, 1: repayment_details 2.pay_nw_summary. i need to get user_id, paid_amount in a searate df from both.

all_repaid = pd.concat([repayment_details[["user_id","paid_amount"]],pay_now[["user_id","paid_amount"]]],ignore_index=True)

In [3]:

A = [1, 2, 3, 1, 2, 4, 1, 3, 5]
A_freq = {}

print(A_freq)

{}

In [6]:
for k,v in A_freq:
    k = len(A)

print(A_freq)

{}

In [1]:
my_list = ['apple', 'banana', 'apple', 'cherry', 'banana', 'apple']
count_dict = {item: my_list.count(item) for item in set(my_list)}
print(count_dict)  # {'apple': 3, 'banana': 2, 'cherry': 1}

{'cherry': 1, 'apple': 3, 'banana': 2}

In [9]:
dict = {}
for i in set(my_list):
    dict_chop = {i:my_list.count(i)}
    dict_chop.append(dict)

print(dict)

AttributeError: 'dict' object has no attribute 'append'

In [ ]:
t = int(input())       

for i in range(t):     
    # accept 2 integers on the 1st line using map
    A,B = map(input(),int)
    
    # accept 3 integers on the 2nd line using map
    C,D,E = map(input(),int)
    
    # output the 5 integers on a single line for each test case
    print(A, B, C, D, E)

TypeError: 'type' object is not iterable